body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

h1{
    font-family: "cursive";
    text-align: center;
    color: rgb(150, 231, 255);
    padding-bottom: 0.2%;
    padding-top: 0.2%;
    text-shadow:
        -1px -1px 0 rgb(0, 0, 0),
         1px -1px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(8, 3, 3),
         1px  1px 0 rgb(0, 0, 0);
}

h3{
    text-align: left;
}

h5{
    font-weight: 300;
    font-style: italic;
    text-align: center;
    align-items: center;
    background-color: darkolivegreen;
    color: beige;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
}

form{
    /* align-items: center;
    text-align: center; */
}

.btns{
    display: flex;
}

.add-btn{
    background-color:green;
    color: white;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
}

.edit-btn{
    color: white !important;
    padding: 0 rem !important;
    font-size: 1rem !important;
    text-decoration: none !important;
}
.edit-btn:hover{
    background-color: darkolivegreen !important;
    color: white !important;
    border-color: darkolivegreen!important;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-airbnb{
    color: rgb(219, 8, 8);
    font-size: 3rem;
}

.nav-link{
    color: #222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.preview-img{
    border-radius: 1rem !important;
    width: 200% !important;
    object-fit: fill !important;
    height: 350px !important;
}

.card-body{
    padding: 0.5rem !important;
    padding-inline: 1rem !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
    color: #222;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.rating-container {
    position: relative;
}

#ratingValue {
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
}